{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Avenue Auto - About
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/about.css' %}">
{% endblock %}

{% block body_block %}
{# <div class="container" id='conall'> #}
  <div class="container">
    <div class="jumbotron">
      <h2><strong>About Us</strong></h2>
      <div class="row">
        <div class="col-md-7">
        <h4><strong>Avenue Auto</strong> believes in earning and keeping each customer’s trust.
          The word we use is fairness.
          Ryan, Joe and Danny genuinely care about their customers.
          We honestly want the best for you.
          Nobody likes when their vehicle to break down, this is why our service and repair guarantees four values each of our customers know and have come to expect:
          <br><br>
          <b><span style="color:#32CD32">&#10004;</span> Correct diagnosis and repair<br>
          <span style="color:#32CD32">&#10004;</span> Economical solutions for repairs<br>
          <span style="color:#32CD32">&#10004;</span> Honesty<br>
          <span style="color:#32CD32">&#10004;</span> Warranties on every repair</b>
          <br><br>
          <em>We understand our business cannot grow without your trust.</em>
        </h4>
        </div>
        <div class="col-md-5">
          <img src="{% static 'info_app/images/building.jpg' %}" alt="">
          <p id='mech'>Joe and Ryan Eric</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><b>Ryan Erich</b> | Shop Manager</h3>
        <img src="{% static 'info_app/images/ryan.jpg' %}" alt="" class="img-fluid" align="right">
        <p>Ryan has over 22 year experience in the auto business and 15 of those have been with Avenue Auto.
          After graduating from technical school he received specialized certification through General Motors.
          Upon leaving the GM dealership we are honored he has chosen to continue his career with us.
          Since joing the team at Avenue Auto he has continued to pursue advanced certification specializing in Diagnostics and repair.
          He has the skills and expertise our customers have come to respect and relay on. Ryan’s slogan is:
          <em>Promises delivered. Quality Guaranteed.</em></p>
      </div>
      <div class="col-md-4">
        <h3><b>Joe Erich</b> | Head Technician</h3>
        <img src="{% static 'info_app/images/joe.jpg' %}" alt="" class="img-fluid" align="right">
        <p>Joe has been employed at Avenue Auto for 16 years. <em>We call Ryan and Joe the dynamic duo.</em>
          Joe stared his career with Ryan being trained through General Motors.
          We are also honored that Joe choose to work together running their own shop.
          You will find Joe has advanced knowledge in all systems of autos as well as advanced Diagnostic systems.
          Joe has continued to pursue advanced certifications to best serve our customers. Joe specializes in putting the “care” in Autocare.
          Joe’s slogan is: <em>I share the pride of your ride.</em></p>
      </div>
      <div class="col-md-4">
        <h3><b>Daniel</b> | Assistant Technician</h3>
        <img src="{% static 'info_app/images/danny.jpg' %}" alt="" class="img-fluid" align="right">
        <p>Daniel has 9 year experience in the service and repair business. He also has a passion for anything to do with cars.
          After his graduating from Technical School he worked for independent shops as well as a dealership.
          His certifications include Alignment, Suspension, Brakes, and AC systems.
          We are glad to have Daniel on staff helping our customers.
          Daniel’s slogan is: <em>Have your work done here and you'll never go anywhere else again.</em></p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <h3>Location:</h3>
    <iframe width="600" height="450" frameborder="0" style='border:0;display:flex;margin:auto' src="https://www.google.com/maps/embed/v1/place?q=Avenue%20Auto%20Saint%20Joseph&key=AIzaSyDiI-k4UCZ6qCzVYoWvfR3Y3FBYBGXSbXw" allowfullscreen></iframe>
  </div>
  <br>

{% endblock %}
