{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Avenue Auto - Inventory
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/car_list.css' %}">
{% endblock %}


{% block body_block %}

<div class="container">
  <div class="w3-display-container" id='carlist'>
    {# <h1>Available Cars</h1> #}
      <div class="row">
      {% for car in car_list %}
      <div class="col-md-4">
      <a href="{{car.id}}/">
        <div id='cardiv'>
        <img src="{{car.headpic.url}}" class="w3-image w3-hover-opacity" alt="No Image">
        </div>
        <div class="w3-display-bottomleft w3-container">{{car.year}} {{car.make}} {{car.model}}</div>
        <!-- <div class="bottom-left">{{car.year}} {{car.make}} {{car.model}}</div> -->
      </a>
      </div>
      {% endfor %}
      </div>
  </div>

</div>



<!-- <script type="text/javascript" src='{% static '/info_app/js/car_list.js' %}'></script> -->

{% endblock %}
