{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Avenue Auto - Tires
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/tires.css' %}">
{% endblock %}

{% block body_block %}

<div class="container">
    <p class="lead">
      No matter how many choices of tires there may be... We think buying tires should be simple.
      <br>We deliver what our customers needs and wants:
      <br><br>> Long-lasting
      <br>> Affordably price
      <br>> Roadside Assistance
      <br>> Warranty
      <br><br>Avenue Auto provides it all. We have over 100,000 tires available for your car, truck, van or SUV. With its volume buying we pass along low prices to our customers.  Avenue Auto inventory and low prices make it easy for you to find the tires you need by just one visit.
    </p>

    <div class="row">
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/falkien.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/continental.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/dunlop.jpg' %}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/kuhmo.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/pirelli.png' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/main_coopertire.jpg' %}" alt="">
      </div>
    </div>
    <h1>TIRE SAVING COUPONS</h1>
    <div class="coupon">
      <h2>$20 OFF SET OF TIRES...</h2>
      <img src="{% static 'info_app/images/money.jpg' %}" alt="">
    </div>
    <div class="coupon">
      <h2>$20.00 OFF FRONT END ALIGNMENT... </h2>
      <img src="{% static 'info_app/images/money.jpg' %}" alt="">
    </div>
    <div class="coupon">
      <h2>$25.95 ROTATION AND BALANCE...</h2>
      <img src="{% static 'info_app/images/money.jpg' %}" alt="">
    </div>

</div>


{% endblock %}
