{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Avenue Auto - Tires
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/tires.css' %}">
{% endblock %}

{% block body_block %}

<div class="container">
    <p class="lead">
      No matter how many choices of tires there may be... We think buying tires should be simple.
      <br>We deliver what our customers needs and wants:
      <br><br><span id='listspan'><span style="color:#32CD32">&#10004;</span> Long-lasting</span>
      <br><span id='listspan'><span style="color:#32CD32">&#10004;</span> Affordably price</span>
      <br><span id='listspan'><span style="color:#32CD32">&#10004;</span> Roadside Assistance</span>
      <br><span id='listspan'><span style="color:#32CD32">&#10004;</span> Warranty</span>
      <br><br><span id='aaspan'><span id='aaspan'>Avenue Auto</span></span> provides it all. We have over 100,000 tires available for your car, truck, van or SUV. With its volume buying we pass along low prices to our customers.  <span id='aaspan'>Avenue Auto</span> inventory and low prices make it easy for you to find the tires you need by just one visit.
    </p>

    <div class="row">
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/falkien.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/continental.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/dunlop.jpg' %}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/kuhmo.jpg' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/pirelli.png' %}" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{% static 'info_app/images/main_coopertire.jpg' %}" alt="">
      </div>
    </div>
    <h1><strong>TIRE SAVING COUPONS</strong></h1>
    <div class="coupon">
      <h2>$20 OFF SET OF TIRES...</h2>
      <div class="row">
        <div class="col-md-6">
            <img src="{% static 'info_app/images/tirespage.jpg' %}" alt="">
        </div>
        <div class="col-md-6">
          <span><img src="{% static 'info_app/images/money.jpg' %}" alt=""></span>
        </div>
      </div>
    </div>
    <div class="coupon">
      <h2>$20.00 OFF FRONT END ALIGNMENT... </h2>
      <div class="row">
        <div class="col-md-6">
            <img src="{% static 'info_app/images/tirespage.jpg' %}" alt="">
        </div>
        <div class="col-md-6">
          <span><img src="{% static 'info_app/images/money.jpg' %}" alt=""></span>
        </div>
      </div>
    </div>
    <div class="coupon">
      <h2>$25.95 ROTATION AND BALANCE...</h2>
      <div class="row">
        <div class="col-md-6">
            <img src="{% static 'info_app/images/tirespage.jpg' %}" alt="">
        </div>
        <div class="col-md-6">
          <img src="{% static 'info_app/images/money.jpg' %}" alt="">
        </div>
      </div>
    </div>

</div>


{% endblock %}
