{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Avenue Auto - Home
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/index.css' %}">
{% endblock %}

{% block body_block %}

<!-- <div class="containermobile">
  <a href="https://www.facebook.com/St.JoeAvenueAutoSales/" target="_blank">
  <img class="center-block img-responsive" src="{% static 'info_app/images/Facebook_logo.png' %}" alt="No image" id="fbindex">
  </a>
  <div class="dropdown-divider"></div>
  <p><a href="http://maps.google.com/?q=1200 4202 St Joseph Ave, St Joseph, MO 64505" target="_blank">4202 St Joseph Ave<br> St Joseph, MO 64505</a> <br>
  Monday-Friday 8AM-5PM <br>
  <a href="tel:+18162322710">(816) 232-2710</a></p>
</div> -->

<div class="buildingcon">
  <img src="{% static 'info_app/images/building.jpg' %}" alt="" id="buildimg">
  <div class="text-block">
    <a href="https://www.facebook.com/St.JoeAvenueAutoSales/" target="_blank">
    <img class="center-block img-responsive" src="{% static 'info_app/images/Facebook_logo.png' %}" alt="No image" id="fbindex"></a>
    <div class="dropdown-divider"></div>
    <p><a href="http://maps.google.com/?q=1200 4202 St Joseph Ave, St Joseph, MO 64505" target="_blank">4202 St Joseph Ave, St Joseph, MO 64505</a> <br>
    Monday-Friday 8AM-5PM <br>
    <a href="tel:+18162322710">(816) 232-2710</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <a href="{% url 'info_app:repairs' %}"><img src="{% static 'info_app/images/mechanics.jpg' %}" alt=""></a>
    <div class="bottom-left">Repairs</div>
  </div>
  <div class="col-md">
    <a href="{% url 'info_app:tires' %}"><img src="{% static 'info_app/images/tires.jpg' %}" alt=""></a>
    <div class="bottom-left">Tires</div>
  </div>
  <div class="col-md">
    <a href="{% url 'info_app:carlist' %}"><img src="{% static 'info_app/images/cars.jpg' %}" alt=""></a>
    <div class="bottom-left">Inventory</div>
  </div>
</div>

<!-- <script type="text/javascript" src="{% static '/info_app/js/index.js' %}"></script> -->

{% endblock %}
