{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/index.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-5">Heading</h1>
  <br>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="jumbotron">
  <h2><strong>We specilize in the following services!</strong></h2>
  <br>
  <ul id="services">
    <li><a href="{% url 'info_app:carlist' %}">Car sales</a></li>
    <li><a href="{% url 'info_app:about' %}">Repair</a></li>
    <li><a href="{% url 'info_app:about' %}">Tire sales</a></li>
    <li><a href="{% url 'info_app:about' %}">and more!</a></li>
  </ul>
</div>

</div>
{% endblock %}
