.col-md-3 img{
  display: flex;
  height: auto;
  width: inherit;
  margin: inherit;
  border: 2px solid #0B1B32;
}

#mech{
  text-align: center;
}

iframe{
  border:0;
  margin-left:auto;
  margin-right:auto;
}

.jumbotron{
  border: 5px solid #0B1B32;
  margin-top: 20px;
}

h3{
  border-bottom: 1px solid #144f67;
}

@media only screen
and (max-width: 760px)
{
  #serviceimg {
    display: none;
  }
}
