.col-md-4 img{
  display: flex;
  height: auto;
  width: inherit;
  margin: inherit;
}

#mech{
  text-align: center;
}

iframe{
  border:0;
  margin-left:auto;
  margin-right:auto;
}

.jumbotron{
  border: 5px solid #0B1B32;
}

/* #conall{
  background: #717b88;
  padding: 0.5%;
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

h3{
  border-bottom: 1px solid #144f67;
}
