
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar-toggle.collapsed .icon-bar {
  color: white;
}

nav {
  /* background-color: #465362; */
  background-color: #0B1B32;
}

.nav-link{
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
}

.dropdown-menu p {
  text-align: left;
  color: black;
  margin: auto;
  margin-left: 20px;
  font-size: 1em;
}

.dropdown-menu{
    width: 350px !important;
}

#fblogo img{
  width: 3em;
  height: 3em;
  display: block;
  margin-left: 20px;
  margin-top: 5%;
}

#aalogo img{
  width: inherit;
}

#aalogo {
  width: 30em;
}

.footer {
  color: lightgrey;
  font-weight: bold;
  background: #0B1B32;
  width: 100%;
  font-size: 90%;
  /* margin-top: 20px; */
  z-index: 100000 !important;
  position: relative;
  bottom: 0px;
  padding-bottom: 10px;
}

.footer td {
  padding: 10px;
}

.footer a {
  color: lightgrey;
}

td img {
  width: 100px;
  height: auto;
}

@media only screen
and (max-width: 760px)
{
  #aalogo {
    width: 95%;
  }
  table tr > *{
      display: block;
  }
  table tr {
      display: table-cell;
  }
  .dropdown-menu{
      width: 100% !important;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
}
