.row {
  margin-bottom: 20px;
}

.col-md-4 {
  height: 250px;
  overflow: hidden;
  padding: 0 !important;
}

#cardiv {
  overflow: hidden;
  height: 93%;
  width: 93%;
  border: 5px solid #0B1B32;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.w3-image{
  width: 100%;
  height: auto;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.w3-display-bottomleft {
    position: absolute;
    bottom: -5px;
    left: -5px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    color: white;
}

#carlist{
  margin-top: 30px;
}

@media only screen
and (max-width: 1000px)
{
  .w3-display-bottomleft {
    font-size: 0.85em;
  }
}

@media only screen
and (max-width: 760px)
{
  .w3-display-bottomleft {
    font-size: 1em;
  }
}
