.text-center a{
    position: relative;
    text-align: center;
    color: white;
}

a .img-fluid{
  margin: 10px;
  width: 100%;
  height: auto;
  border: 5px solid #0B1B32;
}

.bottom-left {
    position: absolute;
    top: 450%;
    left: 16px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
}

#carlist{
  margin-top: 30px;
}
