.buildingcon {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.containermobile {
    position: relative;
    color: white;
    overflow: hidden;
    background: blue;
    padding: 10px;
    height: 400px;
    display: none;
}

.text-block {
    position: absolute;
    bottom: 40%;
    right: 20px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    color: white;
}

.text-block p {
  text-align: right;
  color: white;
}

.text-block a {
  color: white;
}

#fbindex {
  height: 3em;
  margin-top: 10px;
  right: 0;
}


.col-md {
  overflow:hidden;
  padding: 10px;
  height: 350px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

.col-md img {
  width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: rgba(0,0,0,0.6);
    padding: 10px;
}

@media only screen
and (max-width: 1650px)
{
  .col-md img {
    height: 100%;
    width: auto;
  }
}

@media only screen
and (max-width: 1000px)
{
  .text-block {
      position: absolute;
      bottom: 5%;
      right: 20px;
      background-color: rgba(0,0,0,0.6);
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1em;
      color: white;
  }
}

@media only screen
and (max-width: 760px)
{
  .col-md img {
    height: 100%;
    width: auto;
  }
  #fbindex {
    height: 3em;
    margin-top: 10px;
    right: 0;
  }
  .containermobile {
      position: relative;
      color: white;
      overflow: hidden;
      background: blue;
      padding: 10px;
      height: 400px;
      background-color: rgba(0,0,0,0.6);
      color: white;
      font-size: 1.3em;
      color: white;
      justify-content: center;
      padding-top: 75px;
      display: flex;
  }
  .containermobile a {
      color: white;
      margin-right: 10px;
  }
  .buildingcon {
    display: none;
  }
}
