body {
   background-image: url("/static/info_app/images/building.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

div.jumbotron {
  background-color: rgba(255, 255, 255, 0.85);
}

.lead{
  font-size: 1.75em;
}

#services li{
  font-size: 1.25em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  overflow: hidden;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
