.lead {
  font-weight: bold;
  padding: 5%;
}

.row {
  background: #0B1B32;
  border-radius: 5%;
}

.col-md {
  overflow:hidden;
  padding: 10px;
  height: 350px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  border-radius: 5%;
  background:	#DCDCDC;
}

.col-md h1 {
  margin-top: 90px;
  /* text-shadow: 3px 3px 7px grey; */
  border-bottom: 1px solid black;
  font-size: 4em;
  margin-right: 10%;
  margin-left: 10%;
}

.col-md img {
  width: 100%;
  height: 100%;
}

.container .lead {
  margin-top: 20px;
}

h2 {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

#repairlist {
  padding-bottom: 30px;
  font-size: 1.25em;
}

@media only screen
and (max-width: 768px)
{
  .col-md h1 {
    font-size: 3em;
  }
}
